@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-fam: 'Roboto', sans-serif;

$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
//$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$checked-color:  #F44336;
$checked-close-color: #E040FB;

$max-width: 800px;

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: $font-fam;
    background: $primary-color-light;
    color: $primary-text-color;

}

.heading{
    text-align: center;
    padding: 10px;    
}

.list{
    list-style: none;
    max-width: $max-width;
    margin: 50px auto 0px auto;
    padding: 0px;
    background-color: darken($color: $primary-color, $amount: 20);

    li{
        display: block;
        position: relative;
        cursor: pointer;
        padding: 15px 10px 15px 40px;
        font-size: 1.5em;
        font-weight: bold;
        background: $primary-color;
        color: $primary-color-text;
        border-bottom: 2px solid $divider-color;
        
        
        span{
            position: absolute;
            top: 0;
            right: 0;
            width:15px;
            padding: 15px 20px 15px 20px;

            &:hover{
                background-color: $accent-color;
            }
        }

        &:hover{
            background-color: $primary-color-dark;

        }

        &.checked{
            background-color: $checked-color;  
            color: $primary-text-color;
            text-decoration: line-through;

            span:hover{
                background-color: $checked-close-color;
            }
        }

        &.checked::before{
            content: '\2713';
            position: absolute;
            left:10px;
        }

                
    }

}

.input-div{
    width: 100%;
    max-width: $max-width;
    margin: 0px auto 0px auto;
    position: relative;



    .add{
        $border-width: 2px;

        display: block;
        width: $max-width - 20px - 55px - $border-width*2;
        height: 1.5em;
        padding: 15px-$border-width 10px 15px-$border-width 10px;
        border: $border-width $divider-color solid;
    
    
        &:focus{
            box-shadow: 1px 1px 4px 4px $divider-color;
        }  
        
    }

    span{
        display: inline-block;
        position: absolute;
        right:0;
        top:0;
        width:15px;
        height: 30px;
        font-size: 1.5em;
        padding: 10px 20px 10px 20px;
        background-color: $accent-color;
    } 
    
}